{% extends 'base.html.twig' %}

{% block body %}
    <div class="container display-media-container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Section d'administration</h1>
            </div>
            <div class="col-xs-12">
                <h2>Utilisateurs</h2>

            </div>
        </div>
    </div>
{% endblock %}