{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Startups admin section</h1><a href="{{ path('admin') }}">Back to admin root</a>
        <h2>Pour ça on verra plus tard !</h2>
    </div>
{% endblock %}

{% block additional_javascript %}

{% endblock %}

