{% extends 'base.html.twig' %}

{% block body %}
    <div class="container display-resource-container">
        <div class="row">
            <div class="col-xs-12">
                {{ dump(resource)  }}
            </div>
        </div>
    </div>
{% endblock %}

