{% extends 'base.html.twig' %}

{% block body %}
    {{ render(controller('AppBundle:Security:login')) }}
    <div class="container register-redirect-container">
        <div class="row">
            <div class="col-xs-12"><a href="{{ path('user_register') }}">Register</a></div>
        </div>
    </div>
{% endblock %}
