{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container" id="main-container">
        <section class="wip" id="profile-main">
        <div class="col-md-12 text-center">
            <h1>Ceci est la page de l'annuaire des médias</h1>
            <h2>En construction !</h2>
        </div>
        </section>
    </div>
{% endblock %}