/** MAIN COLORS
green : 349f8b
orange : e45021
grey : e6e6e6
**/

/* TODO assign these */
.container{
    /*margin: 200px;*/
}

section {
    overflow: auto;
}

/***************************
****************************

        HOME PAGE

****************************
***************************/



a {
    color: #e45021;
}

#top-navbar > div,
#call-action > div {
    background: #e45021;
}

#call-action h2{
    text-transform: uppercase;
}

#top-navbar .fa-inverse {
    color: #e45021;
}

#presentation > div ,
#categories > div ,
#news > div ,
#testimonials > div ,
#footer > div {
    background: #e6e6e6;
}

#listing-features > div  {
    background: #349f8b;
}

/** GENERAL **/

#shift-body {
    background: #e6E6E6;
    /*margin: 50px 0 0 0;*/
}

#main-container {
    margin-top: 50px;
}

.title-section {
    text-align: center;
    padding: 50px 0;
}

.title-section h2 {
    color: #e45021;
    text-transform: uppercase;
}

.btn.orange-btn {
    background-color: #e45021;
    color: #e6e6e6;
    border-radius: 0;
}
.btn.orange-btn-invert {
    background-color: #e6e6e6;
    color: #e45021;
    border-radius: 0;
}
.btn.green-btn {
    background-color: #349f8b;
    color: #e6e6e6;
    border-radius: 0;
}
.btn.green-btn-invert {
    background-color: #e6e6e6;
    color: #349f8b;
    border-radius: 0;
}

.cat-img ,
.navbar-header img {
    border: solid 2px #e6e6e6;
    border-radius: 15px;
}

/** TOP NAVBAR **/

#top-navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

#top-navbar .upsters-nav {
    border-bottom: solid 3px #e6E6E6;
}

#top-navbar,
#top-navbar a {
    color: white;
}

#top-navbar a:hover {
    color:  #349f8b;
}

#top-navbar #social-tab,
#top-navbar #notif-tab,
#top-navbar #greet-tab {
    height: 50px;
}

#top-navbar b {
    font-weight: 300;
}

#top-navbar div div div div i,
#top-navbar div div div div p,
#top-navbar #greet-tab p {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 100;
}

#social-tab,
#notif-tab {
    border-right: solid 1px;
}

/* alert */

#top-navbar .alert {
    background: #349f8b;
    color: #ffffff;
    border: none;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;

    margin: 50px 0 0 0;
}

/** HEADER **/

#header {
    padding-top: 50px;
}

#header div{
    /*background: white;*/
}

#header .navbar-nav {
    overflow: hidden;
    float: right;
}

#header .navbar img{
    height: 100px;
}

#header .navbar ul {
    margin-top: 35px;
}

#header .navbar ul li {
    margin-right: 5px;
    width: 120px;
    overflow: hidden;
    border-top: solid 5px #e45021;
}

#header .navbar ul li a {
    color: black;
}

#header .navbar ul li a:hover {
    color: white;
    -webkit-transition: 0.15s ease-in;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
}

/** fill animation : https://codepen.io/davekilljoy/pen/wHAvb **/

.fill:before {
    content: "";
    position: absolute;
    background: #e45021!important;
    bottom: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    -webkit-transition: bottom 0.15s ease-in;
}

.fill:hover:before {
    bottom: 0;
}

/** MAP **/

#map .pin-img {
    width: 30px;
    position: absolute;
    display: none;
}

#map > div{
    height: 400px;
    background: url("../images/dummy-map.png") no-repeat bottom center;
    background-size: 130%;
}

#map #search-form {
    position: absolute;
    bottom: 0;
    left: 16.66666667%;
}

#map #search-form > div {
    background-color: rgba(52,159,139,0.5);
    height: 70px;
}

#map #search-form input,
#map #search-form button{
    margin: 20px 0;
}

#map #search-form input{
    height: 30px;
}

/** LISTING FEATURES **/

.service-card-large .cat-img {
    margin: -50px 0 0 0;
}

.service-card-large img:nth-of-type(1) {
    padding-top: 16px;
    height: 200px;
}

.service-card-large > div{
    margin: 35px 0;
    background: white;
}

.service-card-large h4 {
    color: #e45021;
    text-transform: uppercase;
}

.service-card-large h5 {
    color: #349f8b;
    text-transform: uppercase;
    font-weight: 200;
    margin: 10px 0;
}

.service-card-large .card-pitch {
    height: 100px;
    overflow: hidden;
    margin: 30px 0;
}

.service-card-large .card-recommendation {
    color: #e45021;
    text-transform: uppercase;
}

.service-card-large .card-recommendation i,
.service-card-large .card-recommendation b {
    font-size: 35px;
    font-weight: 400;
}

.service-card-large .fake-btn {
    margin: 0;
}

.fake-btn {
    margin: 30px 0;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 200;
}

.fake-btn-grey {
    background-color: #e6e6e6;
    color: black;
}
.fake-btn-orange {
    background-color: #e45021;
    color: white;
}

.fake-btn-orange-inv {
    background-color: #e6e6e6;
    color: #e45021;
}

.fake-btn-green {
    background-color: #349f8b;
    color: white;
}

.fake-btn-green-inv {
    background-color: #e6e6e6;
    color: #349f8b;
}

#search-btn {
    margin: 10px 0;
}

/** CATEGORIES **/

#categories h4 {
    color: #349f8b;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
}

.btn-container {
    margin: 20px 0;
    overflow: hidden;
}

/** PRESENTATION **/

#presentation i {
    color: #349f8b;
}

#presentation h2 {
    color: #e45021;
    text-transform: uppercase;
}

#presentation h3 {
    color: #e45021;
    text-transform: uppercase;
}

#presentation .pres-item {
    padding: 30px 0;
}

#presentation .pres-item h3 {
    font-size: 20px;
}

#presentation .btn {
    margin: 50px 0 100px;
}

/** MEDIAS **/

#medias {
    color: white;
}

#medias .text-container {
    padding: 50px;
}

#medias #media-content {
    background: url("../images/books.jpg") no-repeat bottom center;
    background-size: 100%;
    box-shadow: inset 0 0 0 1000px rgba(52,159,139,0.8);

}

#medias #media-content h2 {
    text-transform: uppercase;
    font-size: 35px;
}

#medias button {
    margin: 50px 0;
}

/** NEWS **/

#news button{
    margin: 50px 0;
}

.news-card {
    padding: 20px 0;
}

#news .news-card {
    background: white;
}

#news .news-card img {
    height: 100px;
    margin: 20px 0;
}

#news .news-card .forum-date {
    margin: 10px 0;
    color: #e45021;
}

#news .news-card h4 {
    font-weight: bold;
    text-transform: uppercase;
}

#news .news-card .post-content {
    height: 200px;
    overflow: hidden;
}

#news .news-card a p {
    color: #e45021;
}

#news .news-card .forum-published-by {
    text-transform: uppercase;
    color: #349f8b;
    font-weight: 200;
}

#btn-cta-container {
    margin: 50px 0;
    overflow: hidden;
}

/** CALL ACTION **/

#call-action button {
    margin: 50px 0;
}

#call-action .text-container {
    color: white;
    padding: 50px;
}

#call-action .text-container p {
    font-size: 18px;
}

/** TESTIMONIAL **/

.testimonial-container {
    margin: 30px 0;
}

.testimonial-container img {
    height: 150px;
}

.testimonial-container div:nth-of-type(2){
    height: 150px;
    overflow: hidden;
    background: white;
}

.testimonial-container div:nth-of-type(2) p:nth-of-type(2) {
    text-transform: uppercase;
    color: #e45021;
}

/***************************
****************************

       PROFILE PAGE

****************************
***************************/

.wip div{
    /*margin: 10px 0;*/
}

.wip h1 {
    font-size: 35px;
    color: #e45021;
    text-transform: uppercase;
}

.wip h2 {
    font-size: 30px;
    color: #349f8b;
}

.profile-actions > a > div {
    padding: 40px;
}
.profile-actions > a > div:hover {
    opacity: 0.9;
}

#profile-main h3{
    font-weight: 100;
    font-size: 50px;
    color: white;
}

.profile-main {
    background: #e6E6E6;
}

.profile-main .avatar > img{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    object-fit: cover; /*if you still have IE in *CURRENT YEAR* you should feel ashamed*/
}

.profile-update,
.profile-add-resource {
    background: #349f8b;
}

.profile-add-media {
    background: #e45021;
}

/***************************
****************************

          BLOG

****************************
***************************/

.article-list-container {
    background: #e6e6e6;
}

#article-list-header {
    margin: 70px 0 30px 0;
    color: #349f8b;
}

#article-list h2 {
    font-size: 20px;
    margin: 50px 0;
}

#article-list > div {
    margin: 0 0 0 0;
    overflow: hidden;
}

.article-content-preview {

    background: white;
    height: 300px;
    overflow: hidden;
}

/** PREVIEW **/

.article-card {
    padding: 20px 0;
    background: white;
}

.article-card img {
    height: 100px;
    margin: 20px 0;
}

.article-card .article-date {
    margin: 10px 0;
    color: #e45021;
}

.article-card h2 {
    font-weight: bold;
    text-transform: uppercase;
}

.article-content-preview {
    height: 200px;
    overflow: hidden;
}

.article-card a p {
    color: #e45021;
}

.published-by {
    text-transform: uppercase;
    color: #349f8b;
    font-weight: 200;
}

/***************************
****************************

          LOGIN

****************************
***************************/

.login-container {
    width: 400px;
}

/***************************
****************************

         REGISTER

****************************
***************************/

.numberCircle {
    border-radius: 50%;

    width: 70px;
    height: 70px;
    padding: 15px;

    background: #fff;
    border: 2px solid #e45021;
    color: #e45021;
    text-align: center;

    font: 32px Arial, sans-serif;

    margin-left: calc(50% - 35px);
}

.numberCircle.active {
    background: #e45021;
    color: white;
}

.numberCircle:not(.active) {
    background: #fff;
    color: #e45021;
}

.register.active {
    display: block;
}

.register:not(.active){
    display: none;
}

.register-cat-entrepreneur{
    background: #e45021;
}

.register-cat-entrepreneur div:first-child {
    /*color: transparent;*/
}

.register-cat-resource{
    background: #349f8b;
}

.register-cat-resource div:first-child{
    /*color: transparent;*/
}

body {
    /*background: #e6E6E6;*/
}

.register-container h1 {
    margin: 25px;
    color: #e45021;
    font-weight: 200;
    text-transform: uppercase;
}

.register-container-in {
    background: white;
    padding: 50px 0;
}

.btn-facebook {
    color: #fff;
    background: 	#3b5998;
}

.btn-gmail {
    color: #c71610;
}

.register-step-3 .checkbox label {
    padding-left: 17px;
}

.register-step-3 .checkbox-container {
    padding: 25px;
}

.register-cat-desc {
    padding-top: 40px;
}

.register-CTA-news {
    padding-top: 20px;
}

/***************************
****************************

         JULIE

****************************
***************************/

/*Home page*/

/* Que trouve-t-on sur upsters */
#presentation > div > div > h3
{
    font-size: 18px !important;
}

/* Extrait du listing */
#listing-features > div > div.col-md-12.title-section > h2
{
    color: white;
}

/* News du forum */
#news > div > div > div
{
    padding: 10px;
}

#news > div > div > div > p.forum-date
{
    font-weight: bold;
    font-size: 12px !important; 
}

#news > div > div > div > h4
{
    font-size: 15px !important;  
    margin: 15px 0px
}

#news > div > div > div > div > p
{
    font-weight: 200;
    font-size: 13px !important; 
}

#btn-cta-container {
    margin-top: 0!important;
}

/*#listing-features > div > div
{
    background-color: red;
}*/