{% extends 'base.html.twig' %}

{% block body %}
    <div class="container display-startup-container">
        <div class="row">
            <div class="col-xs-12">

                <h1>Ajouter une startup</h1>

                {{ form_start(startupFrom) }}
                {{ form_widget(startupFrom) }}

                <button type="submit" class="btn btn-primary">Ajouter</button>
                {{ form_end(startupFrom) }}

            </div>
        </div>
    </div>
{% endblock %}