{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container" id="main-container">
        <section class="wip" id="profile-main">
        <div class="col-md-12 text-center">
            <h1>Ceci est la page de profil de l'utilisateur {{ user.name }} (si tant est qu'il existe !)</h1>
            <h2>En construction !</h2>
        </div>
        </section>
    </div>
{% endblock %}