{% extends 'base.html.twig' %}

{% block body %}
<div class="container text-center">
    <h1 class="">Pas de résultats !</h1>
    <a href="/">retour</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}

{% block title %}

{% endblock %}

